@import '../../../../node_modules/@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: flex;
  justify-content: space-between;
  @include shadow(1);
  @include inset-border(bottom, dark);
  height: 5rem;
  & > * {
    margin: .5rem 1rem;
    display: flex;
    align-items: center;
  }
}
