<ng-container *ngIf="day">
  <span class="tui-text_h3">{{day.dt | date:'d  MMMM' | uppercase}}</span>
  <div class="weather">
    <div class="weather__temp">{{getTemp(day.temp) | number:'1.0-0'}}</div>
    <ul class="tui-text_h6">
      <li>{{day.weather | titlecase}}</li>
      <li>Ощущается как :{{day.feels_like | number:'1.0-0'}}</li>
      <li>Влажность: {{day.humidity | number:'1.0-0'}}%</li>
      <li>Давление: {{day.pressure / 100 | number:'1.0-0'}} Па</li>
      <li>Скорость ветра: {{day.wind_speed}} м/с</li>
      <li>Облачность: {{day.clouds}}%</li>
      <li>Видимость: {{day.visibility}} м</li>
      <li>Индекс УФ: {{day.uvi}}</li>
      <li>Рассвет: {{day.sunrise|date:'H.mm'}}</li>
      <li>Закат: {{day.sunset|date:'H.mm'}}</li>
    </ul>
  </div>
</ng-container>
