/* You can add global styles to this file, and also import other style files */
body{
  background: var(--tui-base-01);
}

@media screen and (max-width: 1024px){
   :root{
     font-size: 12px;
   }
}
@media screen and (max-width: 769px){
   :root{
     font-size: 10px;
   }
}
